In [2]:
import pandas as pd
temperature=pd.DataFrame({
    "city": ["hyderabad","mumbai","chennai"],
    "temperature": [27,32,23]})
humidity=pd.DataFrame({
    "city": ["hyderabad","mumbai","chennai"],
       "humidity": [12,33,42]
    })

        city  humidity
0  hyderabad        12
1     mumbai        33
2    chennai        42

In [3]:
temperature

        city  temperature
0  hyderabad           27
1     mumbai           32
2    chennai           23

In [4]:
humidity

        city  humidity
0  hyderabad        12
1     mumbai        33
2    chennai        42

In [5]:
df = pd.merge(temperature,humidity,on='city')

In [6]:
df

        city  temperature  humidity
0  hyderabad           27        12
1     mumbai           32        33
2    chennai           23        42

In [7]:
temperature=pd.DataFrame({
    "city": ["hyderabad","mumbai","chennai","banglore"],
    "temperature": [27,32,23,24]})
humidity=pd.DataFrame({
    "city": ["hyderabad","mumbai","chennai","delhi"],
       "humidity": [12,33,42,63]
    })

In [8]:
df = pd.merge(temperature,humidity)

In [9]:
df

        city  temperature  humidity
0  hyderabad           27        12
1     mumbai           32        33
2    chennai           23        42

In [10]:
df = pd.merge(temperature,humidity,on='city',how='outer')

In [11]:
df

        city  temperature  humidity
0  hyderabad         27.0      12.0
1     mumbai         32.0      33.0
2    chennai         23.0      42.0
3   banglore         24.0       NaN
4      delhi          NaN      63.0

In [12]:
df = pd.merge(temperature,humidity,on='city',how='left')

In [13]:
df

        city  temperature  humidity
0  hyderabad           27      12.0
1     mumbai           32      33.0
2    chennai           23      42.0
3   banglore           24       NaN

In [ ]:
df = pd.merge(temperature,humidity,on='city',how='outer',indicator=)